<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSRM - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <script>
        function showOriginal() {
            document.getElementById('original-image').style.display = 'block';
            document.getElementById('processed-image').style.display = 'none';
        }
        function showProcessed() {
            document.getElementById('original-image').style.display = 'none';
            document.getElementById('processed-image').style.display = 'block';
        }
    </script>  
</head>
<body>
    <header>
        <div>Preview</div>
        <div>
            <div>{{ username }}님</div>
            <form action="/logout" method="POST" style="display: inline;">
                <button type="submit">로그아웃</button>
            </form>
        </div>
    </header>
    <main>
        <section>
            <h1>YOLOv11 nano 기반 악보인식</h1>
            <p>악보인식에 사용된 모델은 YOLOv11 nano 모델입니다.</p>
            <p>해당 모델은 직접 자체 제작한 악상기호 이미지 데이터셋을 이용하여 전이학습한 모델이고, 데이터셋은 약 6,900억개의 악상기호 조합에서 30,000개의 이미지들을 추출하여 구성하였습니다.</p>
            <p>테스트를 위해서는 약 5.5배 확대된 악보 이미지(.png)를 준비하여주시기 바랍니다. 테스트에 사용할 이미지들은 <a href="https://github.com/kimgeona/project_musical-symbol-recognition-model/tree/main/sheets">여기</a>에서 받아보실 수 있습니다.</p>
            <form action="/ai" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept=".png" required>
                <input type="submit" value="업로드 및 분석">
            </form>
        </section>
        <section>
            <div>
                <img id="original-image" src="{{ img_old }}" alt="업로드한 이미지." style="display: block;">
                <img id="processed-image" src="{{ img_new }}" alt="분석된 이미지." style="display: none;">
            </div>
            <div>
                <input type="button" value="원본 보기" onclick="showOriginal()">
                <input type="button" value="분석본 보기" onclick="showProcessed()">
            </div>
        </section>
    </main>
</body>
</html>
