<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <script>
        function showOriginal() {
            document.getElementById('original-image').style.display = 'block';
            document.getElementById('processed-image').style.display = 'none';
        }
        function showProcessed() {
            document.getElementById('original-image').style.display = 'none';
            document.getElementById('processed-image').style.display = 'block';
        }
    </script>  
</head>
<body>
    <header>
        <div>Preview</div>
        <div>
            <div>{{ username }}님</div>
            <form action="/logout" method="POST" style="display: inline;">
                <button type="submit">로그아웃</button>
            </form>
        </div>
    </header>
    <main>
        <section>
            <h1>YOLOv11 nano 기반 악보인식</h1>
            <p>(해당 모델에 대한 설명글 작성하기)</p>
            <form action="/ai" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept=".png" required>
                <input type="submit" value="업로드 및 분석">
            </form>
        </section>
        <section>
            <div>
                <img id="original-image" src="{{ img_old }}" alt="업로드한 이미지." style="display: block;">
                <img id="processed-image" src="{{ img_new }}" alt="분석된 이미지." style="display: none;">
            </div>
            <div>
                <input type="button" value="원본 보기" onclick="showOriginal()">
                <input type="button" value="분석본 보기" onclick="showProcessed()">
            </div>
        </section>
    </main>
</body>
</html>
